footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.7);
}

.animacion:hover{
    animation-name: animacionRedesSociales;
    animation-iteration-count: infinite ;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
}

@keyframes animacionRedesSociales{
    0%{transform: rotate(2deg);}
    2%{transform: rotate(4deg);}
    4%{transform: rotate(6deg);}
    8%{transform: rotate(8deg);}
    10%{transform: rotate(10deg);}
    12%{transform: rotate(12deg);}
    14%{transform: rotate(14deg);}

}

@media screen and (min-width: 360px) {
    .letraGoogle{
        font-family: Patrick hand;
        color: white;
        text-align: center;
        font-size: 10px;
        text-shadow: 1px 1px 1px black;
    }
    .whatsappCelular{
    display:inline; 
    }
    .whatsappWeb{
        display:none; 
    }
    .tamaño{
        height: 40px;
        width: 40px;
    }
    .mapa{
        height: 150px;
        width: 200px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1162px) {
    .letraGoogle{
        font-family: Patrick hand;
        color: white;
        text-align: center;
        font-size: 20px;
        text-shadow: 2px 2px 2px black;
    }
    .whatsappCelular{
        display:none; 
        }
        .whatsappWeb{
            display:inline; 
        }
    .tamaño{
        height: 80px;
        width: 80px;
    }
    .mapa{
        height: 150px;
        width: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

