.colorNegro{
    color:white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    text-align: center;
}

.tituloContacto{
    font-family: Gluten;
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid ; */
    color: white;
    /* background-color: $colorPrincipal; */
    text-align: center;
    font-style:normal;
    text-transform: uppercase;
    text-decoration:solid;
    text-shadow: 4px 4px 4px black;
}

@media only screen and (min-width: 320px) {
    .colorNegro{
        font-size: 12px;
    }
    .tituloContacto{
        font-size: 35px;
    }
}

@media only screen and (min-width: 999px) {
    .colorNegro{
        font-size: 25px;
    }
    .tituloContacto{
        font-size: 70px;
    }
}
