.pConsulta{
    font-family: Londrina Solid;
    color:white;
    text-align: center;
}

.fondoConsulta{
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    font-family: Londrina Solid;
    color:white;
    text-align: center;
}

.divParrafoContacto{
    display: inline-flex;
    align-items: center;
    color: white;
}


.divParrafoContacto p{
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 15px;
    font-family: Londrina Solid;
    
}

label{
    background-color: rgba(0,0,0,0.7);
    padding:10px;
    border-radius: 15px;
    box-shadow: 0 10px 12px -4px rgba(0, 0, 0, 1);
}

input, textarea, select{
    box-shadow: 0 10px 12px -4px rgba(0, 0, 0, 1);
    border-radius: 15px;
}

@media screen and (min-width: 360px) {
    .divParrafoContacto p{
        font-size: 15px;
    }
    .pConsulta{
        font-size: 15px;
    }
    .fondoConsulta{
        font-size: 15px;
    }
}

@media screen and (min-width: 1162px) {
    .divParrafoContacto p{
        font-size: 28px;
    }
    .pConsulta{
        font-size: 28px;
    }
    .fondoConsulta{
        font-size: 28px;
    }
}