.h5Servicios{
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.h2Servicios{
    font-family: Londrina Solid;
    color: white;
    text-align: center;
    font-style:normal;
    text-transform: uppercase;
    text-decoration:solid;
    background-color: rgba(0,0,0,0.7);
}
.divCarouselServicios{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}
.carouselServicios{
    width: 400px;
    height: 600px;

}


.imgServicios{
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.divCardServicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cardServicios {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0,0,0,0.7);
    background-clip: border-box;
    border-radius: 15px;
    color: white;
}

.tamañoCarousel{
    width: 500px;
    height: 300px;
}


@media screen and (min-width: 360px) {
    .cardServicios{
        width: 10rem;
    }
    .h5Servicios{
        margin-top: 15px;
        padding: 30px;
        margin-bottom: 15px;
        text-shadow: 1px 1px 1px rgb(2, 2, 2);
        font-size: 15px;
    }
    .h2Servicios{
        margin-bottom: 15px;
        font-size: 15px;
    }
    .imgCardServicios{
        width: 10rem;
        height: auto;
        object-fit: cover;
    }
    .parrafoServiciosCelular{
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        padding: 10px;
        border-radius: 15px;
        font-family: Londrina Solid;
        font-size: 15px;
        text-shadow: 1px 1px 1px rgb(2, 2, 2);
    }
}

@media screen and (min-width: 768px) {
    .parrafoServiciosCelular{
        display: none;
    }
}


@media screen and (min-width: 1162px) {
    .cardServicios{
        width: 17rem;
    }
    
    .h5Servicios{
        margin-top: 30px;
        padding: 60px;
        margin-bottom: 30px;
        text-shadow: 1px 1px 1px rgb(2, 2, 2);
        font-size: 30px;
    }
    .h2Servicios{
        margin-bottom: 30px;
        font-size: 40px;
    }
    .imgCardServicios{
        width: 17rem;
        height: auto;
        object-fit: cover;
    }
}

@media screen and (min-width: 2000px) {
    .cardServicios{
        width: 20rem;
    }
    
    .h5Servicios{
        margin-top: 35px;
        padding: 60px;
        margin-bottom: 35px;
        text-shadow: 2px 2px 2px rgb(2, 2, 2);
        font-size: 40px;
    }
    .h2Servicios{
        margin-bottom: 35px;
        font-size: 55px;
    }
    .imgCardServicios{
        width: 30rem;
        height: auto;
        object-fit: cover;
    }
}