.formato{
    margin-bottom: 30px;
}

.carousel img {
    border: 3px;
    border-style:ridge;
}

.divCardIndex{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media screen and (min-width: 360px) {
    .parrafoIndexCelular{
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        padding: 10px;
        border-radius: 15px;
        font-family: Londrina Solid;
        font-size: 15px;
        text-shadow: 1px 1px 1px rgb(2, 2, 2);
    }
}

@media screen and (min-width: 768px) {
    .parrafoIndexCelular{
        display: none;
    }
}

@media screen and (min-width: 1162px) {
    .h5Index{
        color: blanchedalmond;
        font-size: 50px;
        text-shadow: 4px 4px 4px rgb(66, 65, 65);
    }
    .parrafoIndex{
        font-size: 25px;
        color: blanchedalmond;
        text-shadow: 4px 4px 4px rgb(66, 65, 65);
    }
    
}




